<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flightstatus.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>TAMFLIP</title>
  </head>
<body>

<h1 align='center'> Updates On The Flights You Are Tracking </h1>
<div class="flight-header2">
  <div class="mybox3">Flight</div>
  <div class="mybox1">From</div>
  <div class="mybox1">To</div>
  <div class="mybox1">Departure</div>
  <div class="mybox1">Return</div>
  <div class="mybox1">Class</div>
  <div class="mybox2">Price</div>
</div>


{%for flight_details, prev_price, curr_price in flight_statuses%}
{% set trip = flight_details[0] %}
<div class ="flight-box2">

        <div class="fbox1">
            <div class="mybox3">
            {{trip['carrier_name']}} ({{trip['carrier_code']}}{{trip['aircraft_code']}})
            </div>

            <div class="mybox1">
            {{trip['from_location']}}
            </div>

            <div class="mybox1">
            {{trip['to_location']}}
            </div>

            <div class="mybox1">
            {{trip['departure_date']}}
            </div>

            <div class="mybox1">
            {% if trip['return_date'] != None %}
            {{trip['return_date']}}
            {% else %}
            -
            {% endif %}
            </div>

            <div class="mybox1">
            {{trip['type_of_class']}}
            </div>

            <div class="mybox2">
                <strike><span>{{prev_price}}</span> </strike>
                <span id="{{loop.index0}}">{{curr_price}} </span>
            </div>


        </div>
</div>
{% endfor %}

<script type="text/javascript" src="{{url_for('static', filename='js/assets/jQuery-3.4.1.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script type="text/javascript">

{%for flight_details, prev_price, curr_price in flight_statuses%}
{% set trip = flight_details[0] %}

if (Number("{{curr_price}}") > Number("{{prev_price}}")) {
    document.getElementById("{{loop.index0}}").style.color = "red";
}
else {
    document.getElementById("{{loop.index0}}").style.color = "green";
}

{% endfor %}
</script>

</body>
</html>
