<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unsubscribe.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>TAMFLIP</title>
  </head>
<body>

<h1 align='center'> Updates On The Flights You Are Tracking </h1>

<div class="flight-header2">
  <span class="box_cc">Carrier Code</span>
  <span class="box_ac">Aircraft Code</span>
  <span class="box_from">From</span>
  <span class="box_to">To</span>
  <span class="box_dep">Departure Date</span>
  <span class="box_arr">Arrival Date</span>
  <span class="box_class">Class</span>
  <span class="box_status">Price</span>
</div>


{%for trip in flight_details%}
<div class ="flight-box2">

        <div class="fbox1">
            <span class="fbox2">{{trip['carrier_name']}}</span>
            <span class="fbox2">{{trip['dept_carrier_code']}} </span>
            <span class="fbox2">{{trip['dept_aircraft_code']}} </span>
            <span class="fbox2">{{trip['from_location']}} </span>
            <span class="fbox2">{{trip['to_location']}} </span>
            <span class="fbox2">{{trip['departure_date']}} </span>

            {% if trip['return_date'] != None %}
            <span class="fbox2">{{trip['return_date']}} </span>
            {% endif %}

            <span class="fbox2">{{trip['type_of_class']}} </span>

            <span class="fbox2" id="price">
                <strike><span>{{trip['prev_price']}}</span> </strike>
                <span id="{{cur_price + trip['id']}}">{{cur_price}} </span>
            </span>


        </div>
</div>
{% endfor %}

<script type="text/javascript" src="{{url_for('static', filename='js/assets/jQuery-3.4.1.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script type="text/javascript">

{% for trip in flight_details%}

if (Number("{{cur_price}}") > Number("{{flight_details[0]['prev_price']}}")) {
    document.getElementById("{{cur_price + trip['id']}}").style.color = "red";
}
else {
    document.getElementById("{{cur_price + trip['id']}}").style.color = "green";
}

{% endfor %}
</script>

</body>
</html>
