<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>TAMFLIP</title>
  </head>
  <body>

    <nav id="header" class="navbar navbar-dark" style="background: rgb(70,70,70)">
      <div class="container">
        <a href="#" class="navbar-brand">TAMFLIP</a>
      </div>
    </nav>

    <div id="content">
      <section id="header-image" class="jumbotron jumbotron-fluid text-center">
      </section>

      <section id="title">
          <p>Welcome to Tamflip!</p>
      </section>

      <section id="flight-enquiry">
        <form id="flight-form" method="post">
          <div class="top">
            <ul>

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type1Num" name="num_of_passengers">1</span> <span id="type1Txt">Passenger</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                <label for="Adults">Adults : </label>
                <input class="adlt" type="number" name="adults" value="1" min="1">

                <label for="Childs">Childs : </label>
                <input class="chld" type="number" name="children" value="0" min="0">

                <label for="Infants">Infants:</label>
                <input class="inft" type="number" name="infants" value="0" min="0">

                <div class="btn">
                  <input class="button1 passenger" type="button" name="" value="Apply">
                </div>

              </div>
            </div>

            <input class="hiddenInput1" type="hidden" name="type_of_class" value="Economy">

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type2">Economy</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item type21" type="button">Economy</button>
                <button class="dropdown-item type22" type="button">Premium Economy</button>
                <button class="dropdown-item type23" type="button">Business</button>
                <button class="dropdown-item type24" type="button">First Class</button>
              </div>
            </div>


            <input class="hiddenInput2" type="hidden" name="type_of_trip" value="One way">

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type3">One-way</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item type32" type="button">One-way</button>
                <button class="dropdown-item type31" type="button">Round Trip</button>
              </div>
            </div>


          </div>

          <div class="bottom">
            <div class="bottom-left">

              <input list="Airports" id="fromLoc" class="info-1" name="from_location" placeholder="From" autocomplete="off" required>
                <datalist id="Airports">
                  {% for (name, code) in airport_codes.items() %}
                      <option value="{{name}} ({{code}})">
                  {% endfor %}
                </datalist>

              <input list="Airports" id="toLoc" class="info-1" name="to_location" placeholder="Destination" autocomplete="off" required>
                <datalist id="Airports">
                  {% for (name, code) in airport_codes.items() %}
                      <option value="{{name}} ({{code}})">
                  {% endfor %}
                </datalist>

            </div>
            <div class="bottom-right">
              <label for="Travel Date">Travel Date: </label>
              <input type="date" id="traDate" class="info-2" name="departure_date" min='1899-01-01' value="Travel Date"  required  placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>
            <div id="returnDate" class="info-21">
              <label id="labelForReturnDate" for="Return Date">Return Date: </label>
              <input type="date"  id="reDate" class="info-2" name="return_date" value="Return Date" min='1899-01-01' placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>
            <div class="errorDiv2 hideDiv2">
              <div class="error2">Error! From and Destination locations shouldn't be same</div>
            </div>
            <div class="errorDiv1 hideDiv1">
              <div class="error1">Error! Return Date shouldn't be less than Travel Date</div>
            </div>


            <div class="btn" id="submit">
              <input class="button1 hover1" type="submit" name="submit" value="search">
            </div>
          </div>

        </form>
      </section>
    </div>


    <!-- <h2>i = {{i}}</h2> -->
    {% if request.method == 'POST'%}
      <div class="filter top">
        <ul>
          <div class="dropdown cls">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="type5">Sort</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item type41" type="button">Price<i class="fa fa-hand-o-left" aria-hidden="true"></i></button>
              <button class="dropdown-item type42" type="button">Duration <i></i> </button>
              <button class="dropdown-item type43" type="button"> Departure Time(Inc) <i></i></button>
              <button class="dropdown-item type46" type="button">Departure Time(Dec) <i></i></button>
              <button class="dropdown-item type44" type="button"> Arrival Time(Inc) <i></i></button>
              <button class="dropdown-item type47" type="button"> Arrival Time(Dec) <i></i></button>
              <button class="dropdown-item type45" type="button">Num of Stops <i></i></button>
            </div>
          </div>
          <div class="dropdown cls">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="type4">Filter</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

              <!-- <label for="Travel Date">Price Range: </label>
              <input type="range" class="priceRange" value="priceRange" min="0" max="500000">

              <label for="durationRange">Duration Range: </label>
              <input type="range" class="durationRange" value="durationRange" min="0" max="24"> -->

              <!-- <div class="slider ">
                <span style="position:absolute; color:red; border:1px solid blue; min-width:100px;">
                <span id="myValue"></span>
                </span>
                <input type="range" id="myRange" max="1000" min="0" style="width:80%">
              </div>
                <script type="text/javascript" charset="utf-8">
                  var myRange = document.querySelector('#myRange');
                  var myValue = document.querySelector('#myValue');
                  var myUnits = 'myUnits';
                  var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
                  var px =  ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

                  myValue.parentElement.style.left = px + 'px';
                  myValue.parentElement.style.top = myRange.offsetHeight + 'px';
                  myValue.innerHTML = myRange.value + ' ' + myUnits;

                  myRange.oninput =function(){
                    let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
                    myValue.innerHTML = myRange.value + ' ' + myUnits;
                    myValue.parentElement.style.left = px + 'px';
                  };
                </script> -->
                <div class="slidr1" style="border-bottom: 1px solid rgb(230, 230, 230); height: 120px;">
                  <p>Price Range: </p>
                  <div class="sliders1" style="margin: 5px auto; width: 100px;">
                    <input type="range" min="0" max="500000" oninput="updateRangeInput1(this)" value="500000" style="width: 100px;">
                  </div>
                  <div>
                    <div class="sliderlabel1" style="float: left; width: 50px; text-align: center;">
                      <label for="priceRange"> Price <= </label>
                    </div>
                    <div class="sliderText1" style="float: left; width: 80px ">
                      <input class="rangeInput1" type="text" name="priceRange" value="500000" style="width: 80px; margin-left: 10px; border-radius: 5px;">
                    </div>
                  </div>
                </div>

                <div class="slidr2" style="border-bottom: 1px solid rgb(230, 230, 230); height: 120px;">
                  <p>Num of Stops:</p>
                  <div class="sliders2" style="margin: 5px auto; width: 100px;">
                    <input type="range" min="0" max="5" oninput="updateRangeInput2(this)" value="5" style="width: 100px;">
                  </div>
                  <div>
                    <div class="sliderlabel2" style="float: left; width: 50px; text-align: center;">
                      <label for="priceRange"> Stops <= </label>
                    </div>
                    <div class="sliderText2" style="float: left; width: 80px">
                      <input class="rangeInput2" type="text" name="stopRange" value="5" style="width: 80px; margin-left: 10px; border-radius: 5px;">
                    </div>
                  </div>
                </div>

                <div class="btn">
                  <input class="button1 filterButton" type="button" name="" value="Apply">
                </div>

              <!-- <output class="bubble"></output> -->

              <!-- <input type="range" min="1000" max="500000" value="50" class="slider" id="myRange"> -->

              <!-- <button class="dropdown-item type51" type="button">Price Range</button>
              <button class="dropdown-item type52" type="button">Duration</button>
              <button class="dropdown-item type53" type="button">Departure Time</button>
              <button class="dropdown-item type54" type="button">Arrival Time</button> -->
            </div>
          </div>
      </div>
      <!-- <h1>Hoi</h1> -->
      <div class="flight-header">
        <div class="box1 fbox">Carrier</div>
        <div class="box5 numOfStops">Stops</div>
        <div class="box2 departTime">Departure Time</div>
        <div class="box2 arrivalTime">Arrival Time </div>
        <div class="box3 fbox3">Duration </div>
      </div>
    {% endif %}

    {% set count = namespace(value=0) %}
    <form id ="track-details" action = '/' method ="POST" enctype="text/plain" autocomplete="off">
    {%for (flight, price) in zip(flight_details, price_details)%}
      {% if count.value >= 10 %}
      <div class ="flight-box hidden-box{{count.value}} hidden-div">
        {%for trip in flight%}
          <div class="fbox1">
            <div class="fbox">{{trip['carrier_name']}}</div>
            <div class="fbox4 numOfStops">{{trip['number_of_stops']}}</div>
            <div class="fbox2 departTime">{{trip['departure_time'].strftime('%b %d, %a, %H:%M')}} </div>
            <div class="fbox2 arrivalTime">{{trip['arrival_time'].strftime('%b %d, %a, %H:%M')}} </div>
            <div class="fbox3">{{'{:02}h {:02}m'.format((trip['duration'].total_seconds()//3600)|int, (trip['duration'].seconds % 3600) // 60)}} </div>
          </div>
          <!-- <hr> -->
        {% endfor %}
          <div class="price">{{price}} &#8377;</div>
          <button class ="track button3" type ="button" id = "track{{ count.value }}"> <i class="fa fa-bell"></i></button>
            <div class = "hidden-input{{count.value}} hidden-input">
              <input type="email" autocomplete="off" class="info-3" name="email{{count.value}}" id = "hidden-track{{ count.value }}" value=""placeholder="Email Address">
              <input type="submit" class="button2" id="track-submit{{count.value}}" name="submit" value="Track">
            </div>
            <span class="hidden-tick" id="tracksu{{count.value}}">Already tracking &#9989;</span>
            <span class="hidden-tick" id="tracksb{{count.value}}">Tracked &#9989;</span>
        </div>
      </div>
      {% else %}
      <div class ="flight-box hidden-box{{count.value}}">
        {%for trip in flight%}
          <div class="fbox1">
            <div class="fbox">{{trip['carrier_name']}}</div>
            <div class="fbox4 numOfStops">{{trip['number_of_stops']}}</div>
            <div class="fbox2 departTime">{{trip['departure_time'].strftime('%b %d, %a, %H:%M')}} </div>
            <div class="fbox2 arrivalTime">{{trip['arrival_time'].strftime('%b %d, %a, %H:%M')}} </div>
            <div class="fbox3">{{'{:02}h {:02}m'.format((trip['duration'].total_seconds()//3600)|int, (trip['duration'].seconds % 3600) // 60)}} </div>
          </div>
          <!-- <hr> -->
        {% endfor %}
          <div class="price">{{price}} &#8377;</div>
          <button class ="track button3" type ="button" id = "track{{ count.value }}"> <i class="fa fa-bell"></i></button>
            <div class = "hidden-input{{count.value}} hidden-input">
              <input type="email" autocomplete="off" class="info-3" name="email{{count.value}}" id = "hidden-track{{ count.value }}" value=""placeholder="Email Address">
              <input type="submit" class="button2" id="track-submit{{count.value}}" name="submit" value="Track">
            </div>
            <span class="hidden-tick" id="tracksu{{count.value}}">Already tracking &#9989;</span>
            <span class="hidden-tick" id="tracksb{{count.value}}">Tracked &#9989;</span>
        </div>
      </div>
      {% endif %}
      {% set count.value = count.value + 1 %}
    {% endfor %}
    </form>
    {% if count.value >0 %}:
      <div class = "button-div">
        <button class = "moreButton button4" type="button" >More</button>
      </div>
    {% else %}
        <div class="noResults hideResult" style="font-size: 15px; background: rgb(230,230,230); width: 200px; height: 25px; margin: 5px auto; text-align: center">
            <p>No results to show</p>
        </div>
    {%endif%}
    <div class="noResults1 hideResult" style="font-size: 15px; background: rgb(230,230,230); width: 250px; height: 25px; margin: 0 auto; text-align: center">
        <p>No more results to show</p>
    </div>

    {% if request.method == 'POST'%}
      {%  if count.value == 0 %}
        <div class="noResults " style="font-size: 15px; background: rgb(230,230,230); width: 200px; height: 25px; margin: 5px auto; text-align: center">
          <p>No results to show</p>
        </div>
      {% endif %}
    {% endif %}

    <!-- <form class="" action="index.html" method="post">
      <input type="submit" name="" value="More">
    </form> -->

    <script type="text/javascript" src="{{url_for('static', filename='js/assets/jQuery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/flight-input-form.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </body>
</html>
