<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>TAMFLIP</title>
  </head>
  <body>

    <nav id="header" class="navbar navbar-dark" style="background: rgb(70,70,70)">
      <div class="container">
        <a href="#" class="navbar-brand">TAMFLIP</a>
      </div>
    </nav>

    <div id="content">
      <section id="header-image" class="jumbotron jumbotron-fluid text-center">
      </section>

      <section id="title">
          <p>Welcome to Tamflip!</p>
      </section>

      <section id="flight-enquiry">
        <form id="flight-form" method="post">
          <div class="top">
            <ul>

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type1Num" name="num_of_passengers">1</span> <span id="type1Txt">Passenger</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                <label for="Adults">Adults : </label>
                <input class="adlt" type="number" name="adults" value="1" min="1">

                <label for="Childs">Childs : </label>
                <input class="chld" type="number" name="children" value="0" min="0">

                <label for="Infants">Infants:</label>
                <input class="inft" type="number" name="infants" value="0" min="0">

                <div class="btn">
                  <input class="button1 passenger" type="button" name="" value="Apply">
                </div>

              </div>
            </div>

            <input class="hiddenInput1" type="hidden" name="type_of_class" value="Economy">

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type2">Economy</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item type21" type="button">Economy</button>
                <button class="dropdown-item type22" type="button">Premium Economy</button>
                <button class="dropdown-item type23" type="button">Business</button>
                <button class="dropdown-item type24" type="button">First Class</button>
              </div>
            </div>


            <input class="hiddenInput2" type="hidden" name="type_of_trip" value="One way">

            <div class="dropdown cls">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="type3">One-way</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item type32" type="button">One-way</button>
                <button class="dropdown-item type31" type="button">Round Trip</button>
              </div>
            </div>


          </div>

          <div class="bottom">
            <div class="bottom-left">
              <!-- <input type="text" class="info-1" name="from_location" value="" required placeholder="From">
              <input type="text" class="info-1" name="to_location" value="" required placeholder="Destination"> -->

              <input list="Airports" id="fromLoc" class="info-1" name="from_location" placeholder="From" autocomplete="off">
              <datalist id="Airports">
                {% for (name, code) in airport_codes.items() %}
                  <option value="{{name}} ({{code}})">
                {% endfor %}
              </datalist>


              <input list="Airports1" id="toLoc" class="info-1" name="to_location" placeholder="Destination" autocomplete="off">
              <datalist id="Airports1">
                {% for (name, code) in airport_codes.items() %}
                  <option value="{{name}} ({{code}})">
                {% endfor %}
              </datalist>


            </div>
            <div class="bottom-right">
              <label for="Travel Date">Travel Date: </label>
              <input type="date" class="info-2" name="departure_date" value="Travel Date"  required  placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>
            <div id="returnDate" class="info-21">
              <label id="labelForReturnDate" for="Return Date">Return Date: </label>
              <input type="date"  class="info-2" name="return_date" value="Return Date" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>
            <div class="btn" id="submit">
              <input class="button1" type="submit" name="submit" value="search">
            </div>
          </div>

        </form>
      </section>
    </div>


    <!-- <h2>i = {{i}}</h2> -->
    {% if request.method == 'POST'%}
      <div class="filter top">
        <ul>
          <div class="dropdown cls">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="type5">Sort</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item type41" type="button">Price</button>
              <button class="dropdown-item type42" type="button">Duration</button>
              <button class="dropdown-item type43" type="button">Departure Time</button>
              <button class="dropdown-item type44" type="button">Arrival Time</button>
            </div>
          </div>
          <div class="dropdown cls">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="type4">Filter</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

              <!-- <div class="range-wrap">
                <input type="range" class="range" min="20" max="940">
                <output class="bubble"></output>
              </div> -->

              <!-- <input type="range" min="1000" max="500000" value="50" class="slider" id="myRange"> -->

              <button class="dropdown-item type51" type="button">Price Range</button>
              <button class="dropdown-item type52" type="button">Duration</button>
              <button class="dropdown-item type53" type="button">Departure Time</button>
              <button class="dropdown-item type54" type="button">Arrival Time</button>
            </div>
          </div>
      </div>
      <!-- <h1>Hoi</h1> -->
      <div class="flight-header">
        <span class="box1">Carrier</span>
        <span class="box2">Departure Time</span>
        <span class="box2">Arrival Time </span>
        <span class="box3">Duration </span>
      </div>
    {% endif %}

    <form id ="track-details" method ="post" autocomplete="off">
    {% set count = namespace(value=0) %}
    {%for (flight, price) in zip(flight_details, price_details)%}
      <div class ="flight-box">
        {%for trip in flight%}
          <!-- <div class="row align-items-center"> -->
          <!-- <div class="col">{{trip['carrier_name']}}</div>
          <div class="col-3">{{trip['departure_time']}}</div>
          <div class="col-3">{{trip['arrival_time']}} </div>
          <div class="col">{{trip['duration']}} </div> -->
          <div class="fbox1">
            <span class="fbox temp">{{trip['carrier_name']}}</span>
            <span id="departTime" class="fbox2">{{trip['departure_time'].strftime('%a, %b %d %I:%M %p')}} </span>
            <span id="arrivalTime" class="fbox2">{{trip['arrival_time'].strftime('%a, %b %d %I:%M %p')}} </span>
            <span class="fbox3">{{'{:02}h {:02}m'.format(trip['duration'].seconds//3600, (trip['duration'].seconds % 3600) // 60)}} </span>
            <hr>
          </div>
        {% endfor %}
          <div class="price temp">&#8377;{{price}}</div>
          <!-- <input type="text" class="info-1" name="from_location" value="" required placeholder="From"> -->
          <button class ="track button3" type ="button" id = "track{{ count.value }}"> <i class="fa fa-bell"></i></button>
            <div class = "hidden-input{{count.value}} hidden-input">
              <input type="email" class="info-3" name="email{{count.value}}" id = "hidden-track{{ count.value }}" value=""placeholder="Email Address">
              <input type="submit" class="button2" name="submit" value="Track">
            </div>
        </div>
      </div>
      {% set count.value = count.value + 1 %}
    {% endfor %}
    </form>


    <!-- <form class="" action="index.html" method="post">
      <input type="submit" name="" value="More">
    </form> -->

    <script type="text/javascript" src="{{url_for('static', filename='js/assets/jQuery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/flight-input-form.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </body>
</html>
